*.font: monospace:style=Regular:size=15
*.background:#111111
*.foreground:#ececec
st.shape:6
*.cursorText:#393939
st.alpha: 0.9
*.cursorColor:#ececec
URxvt*background:         #ffffea
URxvt*foreground:         #000000
URxvt.letterSpace: -1
URxvt.scrollBar: noneEmacs.FontBackend: xft
Emacs.font: Monospace-14
